* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/christmas_update.png);
    background-size: 100%;
}
#canvas1 {
    width: 1500px;
    height: 800px;
    border: 4px solid black;
    background-image: url(assets/snowbackground.png);
    background-repeat: no-repeat;
    background-size: 1500px;    
}
/* .soundtrack {
    display: flex;
    justify-content: center;
    align-items: center;
} */
/*  
.next {
    float: left;
}
.prev {
    float: right;
}
.previous a:before, .next a:before {
    content:'';
    width: 1500;
    height: 800;
    margin: 0 5px 0 0;
    background: url(assets/snowbackground.png) no-repeat 0 0;
    display: inline-block;
}
.next a:before {
    margin: 0 0 0 5px;
    transform: scaleX(-1);
}  */